h1 a {
    color: #26A1C9;
    font-family: 'Lobster';
    padding-left: 16px;
}

.page-header {
    background-color: #ffffff;
    margin-top: 0;
    padding: 20px 0px 20px 0px;
}



.song {
  color: #D43F47;
      float: right;
      font-size: 16pt;
      margin-right: 20px;
      font-family: 'Lora', serif;

}

body {
    padding-left: 16px;
    background-color: #000000;
}
