h1 a {
    color: #26A1C9;
    color: #FCA205;
    font-family: 'Lobster';
    padding-left: 25px;
    text-align: center;
    font-size: 20pt;
}

.page-header {
  color: #26A1C9;
  font-family: 'Lobster';
  padding-left: 25px;
    background-color: gray;
    margin-top: 0;
    padding: 30px 30px 30px 30px;
    font-size: 30pt;
    text-align: left;

}

.navbar {
  color: #ffffff;

      text-align: center;
      display: inline;
      font-size: 19pt;
      margin-right: 20px;
      font-family: 'Merriweather', serif;

}
li {
  display: inline;
}





/*This is for the block content*/
.content-container {
      background-color: lightgrey;
      color: black;
      font-size: 14pt;
      width: 300px;
      border: 25px solid black;
      padding: 25px;
      margin: 30 auto;
  width: 80em;
      float: center;

  /*
    margin-left: 40px;

        float: center;
        font-size: 16pt;
        margin-right: 20px;
        font-family: 'Merriweather', serif;
        text-align: center;*/
}



li a:hover {
    background-color: #111;
}
body {
    /*padding-left: 16px;*/
    /*background-color: #020303;*/
background-color: DBCC86;

    text-align: center;
    color: white;
    float: center;
}



.footer {
  color: #ffffff;
  background-color: gray;
  text-align: center;
  float: center;
  font-size: 16pt;
  margin-right: 20px;
  font-family: 'Merriweather', serif;

}
