{% load static %}
<html>
    <head>

      <link rel="stylesheet" href="{% static 'css/songlist.css' %}">
      <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
      <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
        <title>{{song.title}}-Songuard</title>
    </head>
    <body>

    <div class="page-header">
        <a href="http://127.0.0.1:8000/">Songuard</a>
    </div>


    <div class="navbar">
      <ul >
      <li class="active"><a href="http://127.0.0.1:8000/">Home</a></li>
      <li><a href= "http://127.0.0.1:8000/admin/">Admin is here.</a></li>
      <li><a href= "http://127.0.0.1:8000/song/3/">Here is song 3.</a></li>
      <li><a href="#">Add song</a></li>
      <li><a href="#">List all</a></li>
      <li><a href="#">My songs</a></li>
      <li><a href="#">Random!</a></li>
    </ul>
    </div>




    <div class="content-container">
        <div class="row">
            <div class="col-md-8">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
<div class="footer">
<footer>
  "My imagination can picture no fairer happiness than to continue living for art."  Clara Schumann

</footer>
</div>
</body>
</html>
