{% extends 'songlist/base.html' %}

{% block content %}

<p>Block content</p>
<p>I need to remember how the songuard/songlist stuff breaks down.
I think it's just that songlist is the app within the project.<br>
To do<br>
Back up terrible css and start again with bootstrap. <br>
Add custom pages to dispay all songs, one specific song.<br>
investigate options for giving users display options.<br>
Add user auth.<br>
Investigate other appy things to do that are more impressive than crud.<br>
use some js.<br>
Deploy to AWS.<br>
Create tech portfolio site, blog etc.<br>



<p> Welcome to Songuard.  Here is a list of songs already "guarded":</p>

{% if latest_song_list %}
    <ul>
    {% for song in latest_song_list %}
        <li><a href="/songlist/{{ song.id }}/">{{ song.title }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No songs are available.</p>
{% endif %}
<br>
<a href= "http://www.colorpicker.com/">Colour picker</a><br>

<br>
<br>
<br>
<br>
<br>

{% endblock %}
