
{% load staticfiles %}
<html>
    <head>


      <link rel="stylesheet" href="{% static 'css/songlist.css' %}">
      <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <title>{{song.title}}-Songuard</title>
    </head>

<body>
<p> Welcome to Songuard.  Here is a list of songs already "guarded".

{% if latest_song_list %}
    <ul>
    {% for song in latest_song_list %}
        <li><a href="/songlist/{{ song.id }}/">{{ song.title }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No songs are available.</p>
{% endif %}


 <a href= "http://127.0.0.1:8000/admin/">Admin is here.</a>



</body>
</html>
